@font-face {
    font-family: 'Spartan-Bold';
    src: url('../assets/fonts/Spartan-Bold.eot');
    src: url('../assets/fonts/Spartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Spartan-Bold.woff2') format('woff2'),
        url('../assets/fonts/Spartan-Bold.woff') format('woff'),
        url('../assets/fonts/Spartan-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan-Regular';
    src: url('../assets/fonts/Spartan-Regular.eot');
    src: url('../assets/fonts/Spartan-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Spartan-Regular.woff2') format('woff2'),
        url('../assets/fonts/Spartan-Regular.woff') format('woff'),
        url('../assets/fonts/Spartan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan-Medium';
    src: url('../assets/fonts/Spartan-Medium.eot');
    src: url('../assets/fonts/Spartan-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Spartan-Medium.woff2') format('woff2'),
        url('../assets/fonts/Spartan-Medium.woff') format('woff'),
        url('../assets/fonts/Spartan-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Spartan-SemiBold';
  src: url('../assets/fonts/Spartan-SemiBold.eot');
  src: url('../assets/fonts/Spartan-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Spartan-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/Spartan-SemiBold.woff') format('woff'),
  url('../assets/fonts/Spartan-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan-Light';
  src: url('../assets/fonts/Spartan-Light.eot');
  src: url('../assets/fonts/Spartan-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Spartan-Light.woff2') format('woff2'),
  url('../assets/fonts/Spartan-Light.woff') format('woff'),
  url('../assets/fonts/Spartan-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

