body {
  overflow: hidden;
  background-image: url('/assets/img/cercle-raye.svg');
  background-repeat: repeat-y;
  background-size: cover;
  background-color: #dad8d8;
}

.layout {
  margin-top: 30px;
}

.sections-title {
  text-transform: uppercase;
  text-align: center;
}
