section#top {
  position: relative;
  width: 550px;
  height: 550px;
  //height: 55vh;
  margin: 0 auto;

  #generated-bloc {
    position: relative;
    > div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      img {
        width: 100%;
        height: 100%;
      }
      span {
        text-align: center;
    }
  }
}
