// color basics
$primary: violet;
$second: orange;
$tertiary: yellow;

$bg-body: white;
$border-templates: 1px solid violet;

// Fonts
$regular-spartan: 'Spartan-Regular', sans-serif;
$medium-spartan: 'Spartan-Medium', sans-serif;
$bold-spartan: 'Spartan-Bold', sans-serif;
