// color basics
$primary: #702382;
$second: #f9b214;
$white: white;
//$tertiary: yellow;

$bg-body: white;
$border-templates: 1px solid violet;

// Fonts
$regular-spartan: 'Spartan-Regular', sans-serif;
$medium-spartan: 'Spartan-Medium', sans-serif;
$semibold-spartan: 'Spartan-SemiBold', sans-serif;
$bold-spartan: 'Spartan-Bold', sans-serif;
