@import 'src/styles';

:host ::ng-deep .mat-tab-body-wrapper {
  height: 15vh;
  display: flex;
  margin-top: 15px;
}

#generated-bloc {

  .keyword {
    color: $white;
    font-family: $medium-spartan !important;
      width: 253px;
      height: 73px;
    &[class*='white'] {
      color: $primary;
    }
    &.image {
      top: 26.6%;
      left: 53.6%;
    }
    &.brut {
      top: 26%;
      left: 27%;
    }
  }

  .name {
    color: $primary;
    font-family: $semibold-spartan !important;
      width: 253px;
      height: 35px;
    &.image {
      left: 53.6%;
      top: 40.5%;
    }
    &.brut {
      top: 41%;
      left: 27%;
    }
  }

  .text {
    color: $primary;
    line-height: 1;
    overflow: hidden;
      width: 253px;
      height: 82px;
    &.image {
      top: 47%;
      left: 53.6%;
    }
    &.brut {
      left: 27%;
      top: 47%;
    }
  }
}
