@import 'src/styles/variables';

h1, h2, h3, h4, h5, h6 {
  font-family: $bold-spartan;
}

h2.main-title {
  text-align: center;
}

.block-template {
  display: flex;
  width: 70vw;
  height: 50vh;
  border: 1px solid black;
  margin: 0 15vw;
  flex-wrap: wrap;
  align-items: center;
}

.templates {
  position: relative;
  border: 1px solid red;
  margin: 0 2%;
  width: 29%;
  height: 29%;
  h4 {
    position: absolute;
    top: -20px;
    margin:0 0 0 10px
  }

  &.photo {
  }
  &.chiffre-cle {
  }
  &.angeda {
  }
  &.filieres {
  }
  &.event {
  }
  &.actu {
  }
  &:hover {
    cursor: pointer;
  }
}
