<h2 class="main-title">Template creator - CCI</h2>
<div class="block-template">
  <div class="templates photo" routerLink="photo"><h4>Template Photo</h4></div>
  <div class="templates chiffre-cle" routerLink="chiffre-cle"><h4>Template Chiffre-Clé</h4></div>
  <div class="templates angeda" routerLink="agenda"><h4>Template Agenda</h4></div>
  <div class="templates filieres" routerLink="filieres"><h4>Template Filière</h4></div>
  <div class="templates event" routerLink="evenement"><h4>Template Evènement</h4></div>
  <div class="templates actu" routerLink="actualite"><h4>Template Actualité</h4></div>
</div>
